<!doctype html>
<html>
<head>
    <style>
    body{
    font-family: Helverica, sans-serif;
    }
    .center{
    position: fixed;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    }
    </style>
    <div class="center">
    <title>trackr</title>
    </head>
    <body style = "background-color:ghostwhite;">
	<h1>Package tracking</h1>
    <form method = "POST">
        <p>Enter tracking code:</p>
        <input name = "u">
        <input type = "submit">
    </form>
    <p>{% autoescape false %}
        {{status}}
        {% endautoescape %}
    </p>
    </div>

    </form>
    </body>
</html>